* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    color: #222;
    line-height: 1.6;
}

/* ===== COMMON ===== */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 28px;
    background: #2563eb;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}

/* ===== HEADER ===== */
.header {
    background: #fff;
    border-bottom: 1px solid #eee;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.logo {
    font-size: 102px;
    font-weight: 1700;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li a {
    margin-left: 25px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.menu-btn {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
}

/* ===== HERO ===== */
.hero {
    background: linear-gradient(120deg, #2563eb, #1e40af);
    color: #fff;
    padding: 100px 0;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero span {
    color: #fde047;
}

/* ===== FEATURES ===== */
.features {
    padding: 80px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}


.card {
    padding: 30px;
    border-radius: 10px;
    background: #f9fafb;
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
}

/* ===== FOOTER ===== */
.footer {
    background: #111827;
    color: #fff;
    text-align: center;
    padding: 25px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        background: #fff;
        width: 200px;
        flex-direction: column;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-btn {
        display: block;
    }
}

/* ===== LOGO ===== */
.logo-area {
    display: flex;
    align-items: center;
    gap: 14px;
}

.logo-img {
    height: 130px;
    width: auto;
    display: block;
}
/* ===== CONTACT ===== */
.contact {
    padding: 80px 0;
    background: #f3f4f6;
}

.contact h2 {
    margin-bottom: 20px;
}
.hero-sub {
    margin-top: 15px;
    font-size: 18px;
    opacity: 0.95;
    max-width: 800px;
}
